@model IEnumerable<MultiTenant_Inventory_Management.Models.Inventory.Tenant>

@{
    Layout = "~/Views/_Blank_Layout.cshtml";
}
<section class=" section bg-ico-hero">
    <div class="bg-overlay bg-soft-light "></div>
    <div class="container">
        <div class="row align-items-center">
            <p>
                <a asp-action="Create" asp-controller="Tenants"
                   class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2">
                    <i class="mdi mdi-plus mr-1"></i> Create New Tenant
                </a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TenantName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Industry)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BusinessLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Logo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsTenantActive)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenantName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Industry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Logo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsTenantActive)
                            </td>
                            <td>
                                <div class="text-sm-right">
                                    <a asp-action="Details" asp-route-id="@item.TenantId"
                                       class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2">
                                        <i class="mdi mdi-forward mr-1"></i> Access
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}